#about-container(class='container')

  h2 What am I looking at?
  p This is GitTwits. It's like Twitter. It takes comments on GitHub that are addressed to @gittwits and posts them here. You can't login from this site, tweet, retweet, favorite, share, or do anything other than read the "tweets". So it's not like Twitter at all.

  h2 How does it work?
  p In an issue or a pull request on github, just end your comment with @gittwits. In 1-2 minutes it will appear here. You can also view/fork the source from github.
  p
    a(href='https://github.com/iamchairs/gittwits.com') gittwits.com
    br
    a(href='https://github.com/iamchairs/gittwits') gittwits node server
    br
    a(href='https://github.com/iamchairs/gittwits-models') gittwits models (shared npm package)

  h2 That it?
  p Yeah. It's dumb.